<div class="card" *ngIf="data !== null">
    <div class="inner">

        <p class="crystals">{{data.crystals}}</p>
        <img src={{data.imgUrl}} alt={{data.nom}} />
        <p class="name">{{data.nom}}</p>
        <p class="desc">{{data.description}}</p>

        <div class="bottom">
            <p class="atk">{{data.atk}}</p>
            <p class="middle"></p>
            <p class="def">{{data.def}}</p>
        </div>
        
    </div>
</div>
<p *ngIf="data == null"> Data not available ! </p>