.card{
    width: 200px;
    height: 272px;
    background: url("../../assets/base.png");
    background-size: contain;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.inner{
    width: 78%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

    img{
        width: 50%;
        height: 25%;
        align-self: center;
        padding: 0;
        margin: 0;
    }

    .crystals{
        font-size: 2rem;
        font-weight: bold;
        color: white;
        padding: 0;
        margin: 0;
        margin-top: 1px;
    }

    .name{
        font-size: 1rem;
        margin: 0;
        padding: 0;
        margin-top: 28px;
        font-weight: bold;
        text-align: center;
    }

    .desc{
        font-size: 0.5rem;
        line-height: 1rem;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        margin-top: 20px;
        width: 85%;
        height: 200px;
        font-weight: bold;
        align-self: center;
        text-align: center;
    }

    .bottom{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px;
        margin: 0;
        padding: 0;
    }

    .atk, .def{
        font-size: 2rem;
        font-weight: bold;
        width: 10%;
        text-align: center;
        color: white;
    }

    .middle{
        width: 80%;
    }

   

